# Dependencies
node_modules

# Next.js
.next
out
*.tsbuildinfo
next-env.d.ts

# Environment variables
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Firebase credentials (secret)
scripts/*firebase*.json

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
